<div class="container"><h2>Books</h2>

  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="myForm.reset()">Add Book</button>

      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Book</h4>
            </div>
            <div class="modal-body">
              <form #myForm="ngForm" novalidate>
                <div class="form-group">
                  <label>Title:</label>
                  <input class="form-control" name="title" ngModel #title required/>
                </div>
                <div class="form-group">
                  <label>Author:</label>
                  <input class="form-control" name="author" ngModel #author required/>
                </div>
                <div class="form-group">
                  <label>Date:</label>
                  <input type="date" class="form-control" value="{{ dateNow | date: 'yyyy-MM-dd'}}"
                         max="{{dateNow | date: 'yyyy-MM-dd'}}" min="1900-01-01" name="date" ngModel #date required/>
                </div>
                <div class="form-group">
                  <label>Description:</label>
                  <input class="form-control" name="description" ngModel #description />
                </div>
                <div class="form-group">
                  <label>Issued:</label>
                  <input type="checkbox" name="issued" ngModel #issued />
                </div>
                <div class="form-group">
                  <label>Region:</label>
                  <select class="selectpicer" [(ngModel)]="selectedRegion" name="Select Region">
                    <option [ngValue]="1" [selected]="selectedRegion == 1">1 field</option>
                    <option [ngValue]="2" [selected]="selectedRegion == 2">2 fields</option>
                  </select>
                  <div *ngIf="selectedRegion == 1; then one_field else two_fields"></div>
                  <ng-template #one_field>
                    <input class="form-control" name="region_one" ngModel #region_one />
                  </ng-template>
                  <ng-template #two_fields>
                    <div *ngIf="selectedRegion == 2">
                      <input class="form-control" name="region_two_1" ngModel #region_two_1 />
                      <input class="form-control" name="region_two_2" ngModel #region_two_2 />
                    </div>
                  </ng-template>
                </div>
                <button class="btn btn-primary" [disabled]="myForm.invalid" (click)="add(myForm);" data-dismiss="modal">
                  Add
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="filter">
        <form #filterForm="ngForm" novalidate>
          <div class="form-group">
            <label>Title:</label>
            <input  name="title" ngModel #title/>
          </div>
          <div class="form-group">
            <label>Author:</label>
            <input  name="author" ngModel #author/>
          </div>
          <div class="form-group">
            <label>Date:</label>
            <input type="date" max="{{dateNow | date: 'yyyy-MM-dd'}}" min="1900-01-01" name="date" ngModel #date/>
          </div>
          <button class="btn btn-primary" (click)="filterBooks(filterForm);" data-dismiss="modal">
            Filter
          </button>
        </form>
      </div>
    </div>
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th>Description</th>
    <th>Issued</th>
    <th>Region</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of pagedItems" [class.selected]="book === selectedBook" (click)="onSelect(book)" (dblclick)="gotoDetail()">
    <td>{{book.id}}</td>
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td>{{book.date}}</td>
    <td>{{book.description}}</td>
    <td><input type="checkbox" [(ngModel)]="book.issued" [disabled]="true" /></td>
    <td>{{book.region}}</td>
    <td><button class="delete" (click)="delete(book); $event.stopPropagation()">x</button></td>
  </tr>
  </tbody>
  <tfoot>
  <th colspan="8">
  <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length > 1" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </th>
  </tfoot>
</table>
  </div>