<div class="container">
<h4>New Book</h4>

<form #myForm="ngForm" novalidate>
    <div class="form-group">
        <label>Title:</label>
        <input class="form-control" name="title" ngModel #title required/>
    </div>
    <div class="form-group">
        <label>Author:</label>
        <input class="form-control" name="author" ngModel #author required/>
    </div>
    <div class="form-group">
        <label>Date:</label>
        <input type="date" class="form-control" value="{{ dateNow | date: 'yyyy-MM-dd'}}"
               max="{{dateNow | date: 'yyyy-MM-dd'}}" min="1900-01-01" name="date" ngModel #date required/>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" name="description" ngModel #description />
    </div>
    <div class="form-group">
        <label>Issued:</label>
        <input type="checkbox" name="issued" ngModel #issued />
    </div>
    <div class="form-group">
        <label>Region:</label>
        <select class="selectpicer" [(ngModel)]="selectedRegion" name="Select Region">
            <option [ngValue]="1" [selected]="selectedRegion == 1">1 field</option>
            <option [ngValue]="2" [selected]="selectedRegion == 2">2 fields</option>
        </select>
        <div *ngIf="selectedRegion == 1; then one_field else two_fields"></div>
        <ng-template #one_field>
            <input class="form-control" name="region_one" ngModel #region_one />
        </ng-template>
        <ng-template #two_fields>
            <div *ngIf="selectedRegion == 2">
                <input class="form-control" name="region_two_1" ngModel #region_two_1 />
                <input class="form-control" name="region_two_2" ngModel #region_two_2 />
            </div>
        </ng-template>
    </div>
    <button class="btn btn-primary" [disabled]="myForm.invalid" (click)="add(myForm);" data-dismiss="modal">
        Add
    </button>
</form>
</div>